/* Wrapper */
.wrapper {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh; /* Ensures full viewport height */
  background-image: url("login_page_bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Ensures the background doesn't scroll */
  overflow: hidden; /* Prevent scrolling */
}

/* Form */
.form {
  /* background-color: white;  */
  /* border-right: 1px solid var(--mantine-color-gray-3); */
  max-width: 450px;
  min-height: 300px; /* Optional: to ensure the form has enough height */
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

/* Title */
.title {
  color: var(--mantine-color-gray-5);
  font-family: "Greycliff CF", var(--mantine-font-family);
}

/* Responsive Adjustment for small screens */
@media (max-width: var(--mantine-breakpoint-sm)) {
  .wrapper {
    background-attachment: scroll; /* Background scrolls on small screens */
    justify-content: flex-start; /* Align the form at the top */
  }

  .form {
    width: 100%; /* Form takes full width on small screens */
    height: 100vh; /* Form takes full height on small screens */
    padding-top: 50px; /* Optional: Adjust for better spacing */
    border-right: none; /* No border on small screens */
  }
}
